// COLORS
$blue:          #02426c;
$darkblue:      #01253d;
$red:           #d54738;
$white:         #fafafa;
$gray:          #e6e6e6;
$darkgray:      #414141;
$black:         #131313;

// FONT
$mainFont:      'Quicksand', sans-serif;
$headerFont:    'Pacifico', cursive;

* {
    font-family: $mainFont;
}

.footer-bottom {
    background-color: $blue;
}

.footer-distributed {
    color: $gray;
	font: bold 20px $mainFont;
	text-align: left;
	padding-bottom: 20px;
	margin-top: 30px;
}

.footer-distributed h3 {
	color:  $gray;
	font: normal 36px $mainFont;
	margin: 0 0 10px;
}

.footer-right-b {
    margin-top: 40px;
}

/* The contact form */
.footer-distributed form{
	display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea {
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  $darkblue;
	border: none;
	font: inherit;
	font-size: 16px;
	font-weight: normal;
	color:  #d1d2d2;
	width: 400px;
	padding: 18px;
}

.footer-distributed form input {
	height: 60px;
	margin-bottom: 15px;
}

.footer-distributed form textarea {
	height: 150px;
	margin-bottom: 20px;
}

.footer-distributed form button {
	border-radius: 3px;
	background-color:  $darkblue;
	color: $gray;
	border: 1px solid $gray;
	padding: 15px 50px;
    font-size: 16px;
	font-weight: bold;
	float: right;
}

.footer-company-name {
    background-color:  $darkblue;
    .footer-logo {
        width: 300px;
        padding: 10px;
    }
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {

}

@media (max-width: 800px) {


}
