// COLORS
$blue:          #02426c;
$darkblue:      #01253d;
$red:           #d54738;
$white:         #fafafa;
$gray:          #e6e6e6;
$darkgray:      #414141;
$black:         #131313;

// FONT
$mainFont:      'Quicksand', sans-serif;
$headerFont:    'Pacifico', cursive;

* {
    font-family: $mainFont;
}


.footer-distributed {
    color: $gray;
	font: bold 16px $mainFont;
	padding-bottom: 20px;
}

.footer-distributed h3 {
	color:  $gray;
	font: normal 22px $mainFont;
}

.footer-company-name {
    background-color:  $darkblue;
    .footer-logo {
        width: 300px;
        padding: 10px;
        margin-top: 30px;
    }
}
