* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  padding-top: 70px;
}

img {
  width: 100%;
}

.pop {
  background-color: #d54738;
}

.pop:hover {
  transform: scale(1.01);
}

.no-pads {
  padding: 0;
}

.nav {
  background-color: #02426c;
  padding: 5px;
}

.navcon {
  font-size: 18px;
  padding: 0px;
  color: #fafafa;
}

.cart-wrap {
  width: 60%;
}

.cart-item-holder {
  position: relative;
  max-width: 50%;
}

.cart-item-desc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #e6e6e6;
  color: #131313;
  font-family: "Quicksand", sans-serif;
}

.cart-head {
  color: #d54738;
  font-family: "Pacifico", cursive !important;
}

.cart-head div {
  padding: 0px;
}

.close {
  color: #fafafa;
}

.border {
  border-right: 1px #414141 solid;
}

.modal-dialog {
  font-family: "Quicksand", sans-serif;
}

.cart-item:hover {
  box-shadow: 0px 0px 30px #01253d;
  transform: scale(1.01);
}

.btn-quick-add {
  background-color: transparent;
  border: 2px solid #d54738;
  color: #d54738;
  font-weight: bold;
  padding: 3px 10px;
  transition: 0.3s ease all;
}

.btn-quick-add:hover {
  background-color: rgba(213, 71, 56, 0.2);
}

.btn-cont {
  background-color: transparent;
  border: 2px solid #02426c;
  color: #02426c;
  font-weight: bold;
  padding: 3px 10px;
  transition: 0.3s ease all;
  width: auto !important;
}

.btn-cont:hover {
  background-color: rgba(2, 66, 108, 0.2);
}

.carousel-control.left {
  background-image: none !important;
}

.carousel-control.right {
  background-image: none !important;
}

.logo-row {
  margin-bottom: 10px;
}

.header-logo {
  width: 200px;
  transition: 0.5s ease all;
  opacity: 100;
}

.add-class {
  margin: 10px;
}
