* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: #e6e6e6;
}

.merch {
  padding: 0px;
  transition: 0.5s ease all;
  overflow: hidden;
  height: 25vw;
}

.merch:hover {
  box-shadow: 0px 0px 30px #01253d;
  transform: scale(1.01);
  z-index: 1;
}

.merch-img {
  width: 100%;
}

.merch-info {
  background: rgba(255, 255, 255, 0.8);
  padding: 10px 0;
  text-align: center;
  top: -150px;
  position: relative;
  width: 100%;
}

.merch-category {
  color: #414141;
  text-transform: uppercase;
  font-size: 16px;
  margin: 0 0 15px 0;
  display: block;
}

.merch-name {
  color: #02426c;
  font-family: "Pacifico", cursive;
  font-size: 28px;
  margin: 0px;
  display: block;
}

.merch-price {
  color: #414141;
  font-size: 16px;
  margin: 10px 0 0 0;
  display: block;
}
