.sockName {
  font-family: "Pacifico", cursive;
  color: #d54738;
}

.sockDescription {
  margin-left: 20px;
  font-size: 12px;
}

.stock {
  color: #d54738;
}

.modal-footer button {
  width: 100px;
}

.sizeButton {
  background-color: transparent;
  border: 2px solid #02426c;
  color: #02426c;
  font-weight: bold;
  padding: 3px 10px;
  transition: 0.3s ease all;
}

.sizeButton:hover {
  background-color: rgba(2, 66, 108, 0.2);
}

.qty-btn,
.btn-send {
  background-color: transparent;
  border: 2px solid #02426c;
  color: #02426c;
  font-weight: bold;
  padding: 3px 10px;
  transition: 0.3s ease all;
}

.qty-btn:hover,
.btn-send:hover {
  background-color: rgba(2, 66, 108, 0.2);
}

.btn-add-cart {
  background-color: transparent;
  border: 2px solid #d54738;
  color: #d54738;
  font-weight: bold;
  padding: 3px 10px;
  transition: 0.3s ease all;
}

.btn-add-cart:hover {
  background-color: rgba(213, 71, 56, 0.2);
}

.btn-send {
  background-color: transparent;
  border: 2px solid #02426c;
  color: #02426c;
  font-weight: bold;
  padding: 3px 10px;
  transition: 0.3s ease all;
}

.btn-send:hover {
  background-color: rgba(2, 66, 108, 0.2);
  color: #fafafa;
}

* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: #e6e6e6;
}

.transparent {
  opacity: 0;
}

.flip {
  transform: scaleY(-1);
}

.filters-arrow {
  font-size: 40px;
  display: inline-block;
  transition: 0.3s ease all;
}

.merch-grid {
  margin: 50px 0;
}

.merch {
  padding: 0px;
  transition: 0.3s ease all;
  overflow: hidden;
  height: 25vw;
}

.merch:hover {
  box-shadow: 0px 0px 30px #01253d;
  transform: scale(1.01);
  z-index: 1;
}

.merch-img {
  width: 100%;
}

.merch-info {
  background: rgba(255, 255, 255, 0.9);
  padding: 10px 0;
  text-align: center;
  top: -180px;
  position: relative;
  width: 100%;
  transition: 0.3s ease all;
}

.merch-category {
  color: #414141;
  text-transform: uppercase;
  font-size: 16px;
  margin: 15px 0;
  display: block;
}

.merch-name {
  color: #02426c;
  font-family: "Pacifico", cursive;
  font-size: 28px;
  margin: 0px;
  display: block;
}

.merch-price {
  color: #414141;
  font-size: 16px;
  margin: 10px 0;
  display: block;
}

.btn-quick-add {
  background-color: transparent;
  border: 2px solid #d54738;
  color: #d54738;
  font-weight: bold;
  padding: 3px 10px;
  transition: 0.3s ease all;
}

.btn-quick-add:hover {
  background-color: rgba(213, 71, 56, 0.2);
}

#myform {
  margin: 5px;
}

.qty {
  width: 40px;
  height: 30px;
  text-align: center;
  border: 2px solid #02426c;
  background-color: rgba(2, 66, 108, 0.2);
}

input.qtyplus,
input.qtyminus {
  width: 25px;
  height: 30px;
  border: 2px solid #02426c;
  background: #fafafa;
  padding: 0;
}
