// COLORS
$blue:          #02426c;
$darkBlue:      #01253d;
$red:           #d54738;
$white:         #fafafa;
$gray:          #e6e6e6;
$darkgray:      #414141;
$black:         #131313;

// FONT
$mainFont:      'Quicksand', sans-serif;
$headerFont:    'Pacifico', cursive;

//modal//

.sockName {
    font-family: $headerFont;
    color: $red;
}

.sockDescription {
    margin-left: 20px;
    font-size: 12px;
}

.stock {
    color: $red;
}

.modal-footer {
    button {
        width: 100px;
    }
}

.sizeButton {
    background-color: transparent;
    border: 2px solid $blue;
    color: $blue;
    font-weight: bold;
    padding: 3px 10px;
    transition: 0.3s ease all;

    &:hover {
      background-color: rgba(2, 66, 108, 0.2);
    }
}

.qty-btn,
.btn-send {
    background-color: transparent;
    border: 2px solid $blue;
    color: $blue;
    font-weight: bold;
    padding: 3px 10px;
    transition: 0.3s ease all;

    &:hover {
      background-color: rgba(2, 66, 108, 0.2);
    }
}

.btn-add-cart {
  background-color: transparent;
  border: 2px solid $red;
  color: $red;
  font-weight: bold;
  padding: 3px 10px;
  transition: 0.3s ease all;

  &:hover {
    background-color: rgba(213, 71, 56, 0.2);
  }
}

.btn-send {
    background-color: transparent;
    border: 2px solid $blue;
    color: $blue;
    font-weight: bold;
    padding: 3px 10px;
    transition: 0.3s ease all;

    &:hover {
      background-color: rgba(2, 66, 108, 0.2);
      color: $white;
    }
}

#myform {
    margin: 5px;
}

.qty {
  width: 40px;
  height: 30px;
  text-align: center;
  border: 2px solid $blue;
  background-color: rgba(2, 66, 108, 0.2);
}


input.qtyplus,
input.qtyminus {
  width: 25px;
  height: 30px;
  border: 2px solid $blue;
  background: $white;
  padding: 0;
}
