// COLORS
$blue:          #02426c;
$blue:          #01253d;
$red:           #d54738;
$white:         #fafafa;
$gray:          #e6e6e6;
$darkgray:      #414141;
$black:         #131313;

// FONT
$mainFont:      'Quicksand', sans-serif;
$headerFont:    'Pacifico', cursive;
